video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.hero__section {
    background-color: #EFF5F5;
}
.hero__section h2 {
    color: #1c1c1d;
    font-size: 4rem;
    font-weight: 600;
    margin: 20px 0px;
}
.hero__section p {
    font-family: 'Mukta', sans-serif;
    color: #1c1c1d;
    line-height: 28px;
}
.shop__btn{
    font-weight: 700;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-color:#DBEF98 ;
    color: #1c1c1d;
    cursor: pointer;
    font-size: 1rem;
}
.link__a:hover{
    color: #1c1c1d;
}
.timer__count {
    background: #EFF5F5;
    height: 500px;
}
.store__btn{
    font-weight: 600;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #DBEF98;
    color: #1c1c1d;
    cursor: pointer;
    font-size: 1rem;
}
.store__btn a:hover {
    color: #1c1c1d;
}
.clock__top-content {
    margin-top: 80px;
}