.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.nav__wrapper{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo img {
    width: 1.8rem;
    height: 1.8rem;
}
.logo  h1 {
    font-size: 2rem;
    font-weight: 600px;
    color: black;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}
.nav__item a {
    color:  black;
    font-weight: 500;
    cursor: pointer;
}
.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;   
}
.nav__icons span i {
    font-size: 1.4rem;
    color: black;
    cursor: pointer;
}
.cart__icon,
.fav__icon {
    position: relative;
}
.badge {
    position: absolute;
    top: -20%;
    right: -40%;
    width: 16px;
    height: 16px;
    content: '';
    background: #FF9270;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 0.7rem;
    font-weight: 600;
    z-index: 10;
}
.nav__icons span img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.mobile__menu {
    font-size: 1.3rem;
    color: black;
    display: none;
}
.nav__active {
    font-weight: 700 !important;
}